<div class="inicioDiv">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">INICIO <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#servicios">SERVICIOS <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/privacidad">POLÍTICA DE PRIVACIDAD <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#contacto">CONTACTO <span class="sr-only">(current)</span></a>
                </li>


            </ul>
        </div>
    </nav>
    <div class="container text-center">
        <img src="/assets/images/logoMorado.png" class="img-fluid blink imgLogoM" alt="Responsive image">
        <div class="row text-white navI">
            <div class="col-md-12 navBar">
                <span class="navBarElement pointer" onclick="location.href='/';">INICIO</span> || <span
                    class="navBarElement pointer" onclick="location.href='#servicios';">SERVICIOS</span> || <span
                    class="navBarElement pointer" onclick="location.href='/privacidad';">POLÍTICA DE PRIVACIDAD</span>
                || <span class="navBarElement pointer" onclick="location.href='#contacto';">CONTACTO</span>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container text-center escribenosDiv">
    <h4>¿Deseas hablar con nosotros?</h4> <br>
    <div class="row">
        <div class="col-md-6">
            <h3 class="elementsEscribenos pointer" onclick="location.href='#contacto';"><i
                    class="fa-solid fa-envelope"></i> <br>
                Escríbenos</h3>
        </div>
        <div class="col-md-6">
            <h3 class="elementsEscribenos pointer" onclick="location.href='#contacto';"><i
                    class="fa-solid fa-phone"></i> <br>
                Llámanos</h3>
        </div>
    </div>
    <hr>
    <div class="row bolders">
        <div class="col-md-6">
            <div class="h5">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa-solid fa-microchip" style="color: #8C84A4;"></i> Somos una
                        empresa integrada por un equipo de personas apasionadas en la
                        tecnología de la información.</li>
                    <li class="list-group-item"><i class="fa-solid fa-microchip" style="color: #8C84A4;"></i> Damos
                        soluciones de TI para potencializar las operaciones de su negocio y aumentar la calidad de sus
                        procesos y
                        servicios.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h5">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa-solid fa-microchip" style="color: #8C84A4;"></i> Nuestra
                        manera de operar incluye un análisis profundo del negocio para
                        así
                        solucionar de la mejor
                        manera los problemas y mejorar los procesos de forma óptima.</li>
                    <li class="list-group-item"><i class="fa-solid fa-microchip" style="color: #8C84A4;"></i> Trabajamos
                        con todo tipo de empresas como son
                        Educativas, Comerciales, Industriales, Constructoras, Farmacéuticas entre otras.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="misionDiv">
    <div class="oberlayMision">
        <div class="container text-center text-white">
            <div class="row">
                <div class="col-md-6">
                    <h3>Misión</h3>
                    <h5>Nuestro propósito principal es apoyar a nuestros clientes en la implantación de tecnología y
                        seguridad informática. Ofrecemos soluciones integrales que satisfagan las necesidades de
                        nuestros
                        clientes.</h5>
                </div>
                <div class="col-md-6">
                    <h3 class="objetivoTitle">Objetivo</h3>
                    <h5>
                        Ampliar nuestras capacidades tecnológicas a nivel global para apoyar a las pequeñas y medianas
                        empresas a transformarse y alcanzar sus objetivos al eficientar los procesos relacionados con la
                        TI.
                    </h5>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="serviciosLaunchDiv justify-content-start" id="servicios">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron" style="background-color: #716686;">
                    <h2 class="text-white">SERVICIOS</h2>
                    <hr class="my-4 text-white">
                    <p class="lead text-white">Nuestra Estrategia Tecnológica y Servicios
                        Conjunto de capacidades de tecnología para alinear sus procesos con los objetivos y las
                        tecnologías
                        de la información. Los servicios y soluciones de Launch Software son:</p>
                    <hr class="my-4 text-white">
                    <p class="lead">
                        <a class="btn btn-light btn-lg" href="#contacto" role="button">CONTACTAR</a>
                    </p>
                </div>
            </div>
        </div>
        <hr> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/servicioLaunch5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Seguridad de la información</h5>
                        <hr>
                        <p class="card-text">En Launch Software evaluamos, desarrollamos, implementamos, integramos y
                            gestionamos controles de seguridad de TI tanto en la seguridad física, en los procesos de
                            tecnologías y en la configuración de las aplicaciones, bases de datos, sistemas operativos y
                            arquitectura de red. </p>
                        <a href="#contacto" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardResp" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/servicioLaunch4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Estructura de Red y Telecomunicaciones</h5>
                        <hr>
                        <p class="card-text">Creación de hostings, montano de racks y gabinete, cableado estructurado,
                            migración de equipos y servicios, y administración de dominios. Integramos redes de
                            comunicaciones unificadas lo que permite que las personas se comuniquen, conecten e
                            interactúen de forma fácil.</p>
                        <a href="#contacto" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardResp" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/servicioLaunch2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Soporte técnico</h5>
                        <hr>
                        <p class="card-text">Contamos con el personal especializado para dar servicios de soporte
                            técnico especializados a servidores, equipos de cómputo, redes alámbricas e inalámbricas.
                            Implementamos y configuramos dispositivos de red y sistemas operativos.</p>
                        <a href="#contacto" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
            </div>
        </div> <br> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/servicioLaunch3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Restructuración de procesos de TI</h5>
                        <hr>
                        <p class="card-text">Otorgamos servicios de análisis y evaluación de procesos de TI para
                            eficientar los procesos actuales, así como integrar los controles de seguridad en cada paso
                            de cada uno de los procesos como son control de accesos a los sistemas, administración de
                            cambios y mantenimiento de las aplicaciones, respaldos y seguridad física de los equipos.
                        </p>
                        <a href="#contacto" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardResp" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/servicioLaunch1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Desarrollo, implementación y mantenimiento de sistemas
                        </h5>
                        <hr>
                        <p class="card-text">Ofrecemos servicios de desarrollo de aplicaciones para distintas
                            plataformas como son de escritorio, móviles e hibridas. Aplicaciones hechas a la medida y
                            con la infraestructura requerida para operar en red con los controles de seguridad
                            requeridos y con la eficiencia requerida por la empresa para simplificar los procesos de
                            operación. Otorgamos servicios de mantenimiento y actualización de aplicaciones están
                            diseñados para garantizar la escalabilidad, rendimiento y solicitudes de cambios en
                            infraestructura de software.</p>
                        <a href="#contacto" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>
<div class="contacto" id="contacto">
    <h4>
        Contáctanos:
    </h4>
    <p>
        Nuestro principal valor está en nuestro equipo de expertos calificados y en nuestra metodología de
        desarrollo de operación con los sistemas de tecnología de información. Creemos que la confianza que nuestros
        clientes depositan en nosotros es lo más importante de mantener.
    </p>
    <hr>
    <div class="container">
        <div class="row">
            <div class="contactoForm">
                <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);" id="myForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input name="name" type="text" class="form-control formInput" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electrónico</label>
                        <input name="email" type="text" class="form-control formInput" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Correo electrónico" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Número celular</label>
                        <input name="number" type="text" class="form-control formInput" id="exampleInputPassword1"
                            placeholder="Número celular" required>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input formInput" id="exampleCheck1" required>
                        <label class="form-check-label" for="exampleCheck1">Acepto política de
                            privacidad</label>
                    </div> <br>
                    <button type="submit" class="btn btn-dark">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="inicioDiv">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/logoMorado.png" class="img-fluid blink imgLogoM" alt="Responsive image">
                <div class="row text-white">
                    <div class="col-md-12 navBar">
                        <span class="navBarElement pointer" onclick="location.href='/';">INICIO</span> || <span
                            class="navBarElement pointer" onclick="location.href='#servicios';">SERVICIOS</span> ||
                        <span class="navBarElement pointer" onclick="location.href='/privacidad';">POLÍTICA DE
                            PRIVACIDAD</span>
                        || <span class="navBarElement pointer" onclick="location.href='#contacto';">CONTACTO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-white launchPriv">
                <p><b><span style="color: #9484A4;">© LAUNCH SOFTWARE S.A DE C.V.</span></b> Todos los
                    derechos reservados. Sus
                    datos están protegidos por
                    la ley de privacidad. <button type="button" class="btn btn-link" style="color: whitesmoke;"
                        onclick="location.href='/privacidad';">Política
                        de
                        privacidad</button></p>
            </div>
        </div>
    </div>
</div>