.inicioDiv{
    background-color: #1C0C3C;
}
.fonts{
    font-family: 'Heebo', sans-serif;
}
.imgLogoM{
    width: 30%;
}
.sTitles{
    margin-top: 5%;
}
.blink {
    animation: blinker 1.5s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
}
.blink2 {
    animation: blinker 1.5s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
}
.escribenosDiv{
    margin-top: 3%;
}
.elementsEscribenos{
    color: #716686;
}
.bolders{
    font-weight: bolder;
}
.navBar{
    margin-bottom: 2%;
}
.navBarElement:hover {
    color: #9484A4;
}
.oberlayMision{
    height: 100%;
    width: 100%;
    background-color: #1c0c3c7a;
    padding-top: 3%;
}
.misionDiv{ 
    height: 15rem;
    background-image: url("/assets/images/cubo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    
}
.pointer {cursor: pointer;}

.serviciosLaunchDiv{
    margin-top: 5%;
}


@media(max-width:991px){
    .card{
        margin-left: 7%;
    }
    .cardResp{
        margin-top: 10%;
    }
    .imgLogoM{
        width: 70%;
    }
    .navBar{
        font-size: 12px;
    }
    .misionDiv{
        height: 27rem;
    }
    .objetivoTitle{
        margin-top: 3%;
    }
    .oberlayMision{
        padding-top: 8%;
    }
}
